h2 {
    text-align: left;
    font-size: 50px;
    color: #000000;
    margin-top: 100px; /* 上に余白を追加 */
    margin-left: 20px;
  }

  .reason-textarea {
    width: 100%;
    max-width: 600px;
    height: 200px;
    width: 600px;
    margin: 0 auto;
    display: block;
    margin-top: 10px; /* 上に余白を追加 */
    align-items: center;
  }
  
  .button {
    height: 50px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
  }